.nav {
  display: flex;
  justify-content: space-between;

  &__logo-box {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  &__logo {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(3);
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5rem;
    padding-top: 0;
  }
  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    padding: 3rem;
    color: #133825;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
}
